$palette: (
    dark: #0d3b66,
    medium: #f4d35e,
    light: #faf0ca
);

$fs: (
    small: 10px,
    big: 30px
);

$flex: (
    d: flex,
    justify: space-between,
    align: center,
    wrap: nowrap
);






