@import 'variables';
@import 'functions';
@import 'mixins';
@include getGoogleFont($hFont);
@include getGoogleFont($pFont);


h1, h2, h3, h4, h5, h6 {
    font-family: $hFont,'sans-serif';
}

p {
    font-family: $pFont, 'sans-serif';
}

#main-menu {
    @include headerNav(100px, 10px, $navBg, $navTxt);
    border-radius: 15px;
    padding-left: 2em;

    a:hover{
        opacity: 0.8;
        transform:scale(0.95);
    };
}

#main {
    @include gridContainer;
}

button {
    @include buttons;
}

#sidebar ul{
    @include sidebar;
}

#footer{
    @include footer(100px);
}

form fieldset{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    padding: 1em;

    input:focus{
        border: 2px solid #00b4d8;
    }

}